.indietro{
    background-color: #00CDBE;
   
}
.indietro:hover{
    background-color:#04b3a7 ;
}
.salva{
    background-color: #41e709;
}
.dish{
   
    
}
.col-dish{
    background-color: white;
}
.form-group{
    padding:0  20px 10px 20px;
}
.col-titolo{
    background-color: white;
}
